<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/thank-you/';}"></iframe>
<div id="contactwrap">
  <div class="container">
      <div class="row">
          <div id="contact" class="col-lg-8 col-lg-offset-1">
            <h1 class="title"><font class="colortitle">Contact us</font></h1>
            <h3>For a free consultation session or just say hi.</h3>
            <label for="checkcontact" class="contactbutton fa fa-envelope"></label><input id="checkcontact" type="checkbox">
            
            <form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfxDIoXrkEWkCO-tR91wAsXAga4HvnMMpK1h9tszciM87LNuA/formResponse" method="post" class="contactform" target="hidden_iframe" onsubmit="submitted=true;">
              <p class="input_wrapper"><input type="text" name="entry.2005620554" value=""  id ="contact_nom" required><label for="contact_nom">Name *</label></p>
              <p class="input_wrapper"><input type="email" name="entry.939626576" value=""  id ="contact_email" required><label for="contact_email">Email *</label></p>
              <p class="textarea_wrapper"><textarea name="entry.839337160" id="contact_message" required></textarea></p>
              <p class="submit_wrapper"><input type="submit" value="Submit"></p>     
            </form>
          </div>
      </div><! --/row -->
  </div><! --/container -->
</div>

