<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 div-bg">
                <!-- <h3>Show your work with this beautiful theme</h3> -->
                <h1>You have the data, we have the answers.</h1>
                <div class="div-al-bot">
                    <h3>We are a group of Machine Learning scientists specializing in imbuing your systems with intelligence. We are passionate about solving complex problems and our solutions are customized incorporating ideas and concepts from the cutting edge scientific literature.</h3> 	
                </div>
            </div>
            <!-- <div class="col-lg-6 col-lg-offset-3 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive" width="50%"">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->