<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="center">
                <h1>You have the data,<br> We have the answers.</h1>
                <img src="/assets/img/logo_opacity30.png" alt="Cover image" height="150" width="150">
            </div>
            <!-- <div class="col-lg-6 col-lg-offset-3 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive" width="50%"">
            </div> -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->