<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- <h3>Show your work with this beautiful theme</h3> -->
                <h1>You have the data, we have the answers.</h1>
                <!-- <h3>We at Cerbo Space specialize in providing you with customized solutions for your Machine Learning problems. We synthesize our academic, research and practical experience to imbue your systems with intelligence.</h3>	-->			
            </div>
            <div class="col-lg-6 col-lg-offset-3 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->