<div id="publicationswrap">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <h1 class="title"><font class="colortitle">Publications</font></h1>
            <div class="pub-item">An online multiple-model approach to univariate time-series prediction<br><font class="font-author">Koshy George, Sachin Prabhu, <strong>Prabhanjan Mutalik</strong> &nbsp;•&nbsp; Proceedings of ELM-2014 Volume 1. Springer, Cham, 2015, pp. 215-224.</font></div>
            <div class="pub-item">Online time series prediction with meta-cognition<br><font class="font-author">Koshy George, <strong>Prabhanjan Mutalik</strong> &nbsp;•&nbsp; Neural Networks (IJCNN), 2016 International Joint Conference on. IEEE, 2016.</font></div>
            <div class="pub-item">A multiple model approach to time-series prediction using an online sequential learning algorithm<br><font class="font-author">Koshy George, <strong>Prabhanjan Mutalik</strong> &nbsp;•&nbsp; IEEE Transactions on Systems, Man, and Cybernetics: Systems (2017)</font></div>
          </div><! --/col-lg-8 -->
      </div><! --/row -->
  </div><! --/container -->
</div>