<div class="container mtb">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="centered mb">
              <h3>WORKFLOW</h3>
            </div>
            <ul>
            <li>A plan or a roadmap</li>
            <li>Collect data if you have a limited dataset</li>
            <li>Survey the literature to get you the best solution</li>
            <li>Test the models</li>
            <li>Optimize the computing power</li>
            <li>Integrate the model into your workspace</li>
            <li>Maintain: Retrain models, optimize the hyperparameters etc.</li>
            </ul>
        </div><! --/col-lg-8 -->
    </div><! --/row -->
</div><! --/container -->