<div class="container mtb">
    <div class="row">
        <div id="service" class="col-lg-10 col-lg-offset-1">
          <h1 class="title"><font class="colortitle">
          Imbue your systems with intelligence</font></h1>
          <h3>As Machine Learning scientists, we offer customized solutions incorporating ideas and concepts from cutting edge scientific literature.</h3>
          <div class="process-2">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="process__item">
                <h4>Scoping</h4>
                <p>We analyse your problem and create a roadmap for execution.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="process__item">
                <h4>Data mining</h4>
                <p>We collect the data from you or, if possible, collect the data for you.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="process__item">
                <h4>Model Development</h4>
                <p>We conduct an extensive literature survey and develop a diverse array of models to test your data on. With the best model, we optimise the code and the computing performance.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="process__item">
                <h4>Integration & Maintenance</h4>
                <p>We subsequently integrate the model into your workflow and perform routine maintenance to ensure the models never stops learning.</p>
              </div>
            </div>
          </div>
        </div><! --/col-lg-8 -->
    </div><! --/row -->
</div><! --/container -->