<div class="container mtb">
    <div class="row">
        <div id="service" class="col-lg-10 col-lg-offset-1">
          <h1 class="title"><font class="colortitle">Service</font><br>
          Imbue your systems with intelligence</h1>
          <h3>As Machine Learning scientists, we offer customized solutions incorporating ideas and concepts from cutting edge scientific literature.</h3>     
          <ul>
          <li>A plan or a roadmap</li>
          <li>Collect data if you have a limited dataset</li>
          <li>Survey the literature to get you the best solution</li>
          <li>Test the models</li>
          <li>Optimize the computing power</li>
          <li>Integrate the model into your workspace</li>
          <li>Maintain: Retrain models, optimize the hyperparameters etc.</li>
          </ul>
        </div><! --/col-lg-8 -->
    </div><! --/row -->
</div><! --/container -->